BasedOnStyle: LLVM
PointerBindsToType: false
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Attach
AlignAfterOpenBracket: DontAlign
BreakConstructorInitializersBeforeComma: true
BreakBeforeTernaryOperators: true

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false

AlwaysBreakTemplateDeclarations: true

IndentWidth: 2
ContinuationIndentWidth: 4
TabWidth: 2
UseTab: Never
ColumnLimit: 80
