[submodule "utf8"]
	path = lib/utf8
	url = https://github.com/sheredom/utf8.h.git
[submodule "imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git