[submodule "src/zlib"]
	path = src/zlib
	url = https://github.com/madler/zlib.git
[submodule "src/utf8"]
	path = src/utf8
	url = https://github.com/sheredom/utf8.h.git
	branch = master
[submodule "src/glad"]
	path = src/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "src/imgui"]
	path = src/imgui
	url = https://github.com/ocornut/imgui
	branch = master
[submodule "src/stb"]
	path = src/stb
	url = https://github.com/nothings/stb.git
[submodule "src/filesystem"]
	path = src/filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "src/mpc"]
	path = src/mpc
	url = https://github.com/orangeduck/mpc.git
