/Debug
/Release
/release_build/
/build/
/bin/
/lib/
test
*.aps
*.opensdf
*.VC.db
*.sdf
.vs
imgui.ini

# VS cache files
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.tags
.idea/
tags

# Do not track QtCreator imported or any other project files
OpenBoardView.config
OpenBoardView.files
OpenBoardView.includes
*.creator
*.creator.*
.qmake.stash
*.pro
*.pro.*

# Dolphin hidden files marker
.directory

*.a

# https://github.com/github/gitignore/blob/master/CMake.gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

debug_build
CPackConfig.cmake
CPackSourceConfig.cmake

include/version.h
share

# macOS specific
.DS_Store
*.dmg
*.app

# VS Code
.vscode

# Flatpak
builddir/
.flatpak-builder/
repo/
