git:
  depth: 9999999
os:
- linux
compiler:
- clang
matrix:
  include:
  - os: linux
    compiler: gcc
    env: DEPLOY=yes DEPLOY_DEB=yes
  - os: linux
    compiler: gcc
    env: DEPLOY=yes DEPLOY_RPM=yes
  - os: osx
    compiler: clang
    env: DEPLOY=yes
  - os: linux
    compiler: gcc
    env: CROSS=mingw64 DEPLOY=yes
dist: trusty
sudo: required
language: cpp
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-6
    - g++-6
install: |-
  if [ "$TRAVIS_OS_NAME" == "linux" ]
  then
    if [ "$CROSS" == "mingw64" ] # Cross compiling for Windows
    then
      sudo add-apt-repository "deb http://fr.archive.ubuntu.com/ubuntu/ xenial main restricted universe multiverse" # We need an up-to-date MinGW
      sudo apt-get update
      sudo apt-get install -t xenial gcc-mingw-w64-i686 g++-mingw-w64-i686 mingw32-runtime
      wget https://www.libsdl.org/release/SDL2-devel-2.0.4-mingw.tar.gz # Manually install the SDL2 mingw dev files
      tar -xf SDL2-devel-2.0.4-mingw.tar.gz
      pushd SDL2-2.0.4
      sudo make cross CROSS_PATH=/usr
      popd
    else
      sudo apt-get -qy install libsdl2-dev libgtk-3-dev rpm
    fi
  elif [ "$TRAVIS_OS_NAME" == "osx" ]
  then
    brew update
    brew install sdl2
  fi
script: |-
  if [ "$CXX" = "g++" ]; then export CXX="g++-6" CC="gcc-6"; fi
  ./build.sh || exit 1
  if [ "$DEPLOY_DEB" == "yes" ] || [ "$DEPLOY_RPM" == "yes" ]
  then
    pushd release_build
    make package
    popd
  fi
before_deploy: |-
  if [ "$TRAVIS_OS_NAME" == "osx" ]
  then
    export DEPLOY_FILES=$(ls OpenBoardView-*.dmg)
  elif [ "$CROSS" == "mingw64" ]
  then
    export DEPLOY_FILES=bin/openboardview.exe
  elif [ "$DEPLOY_DEB" == "yes" ]
  then
    export DEPLOY_FILES=$(ls OpenBoardView-*.deb)
  elif [ "$DEPLOY_RPM" == "yes" ]
  then
    export DEPLOY_FILES=$(ls OpenBoardView-*.rpm)
  fi
deploy:
  provider: releases
  api_key:
    secure: fEfqBb5gTueI0CIskifkJ9O476XzQSA3L22y8alhMZZ82dOcFQIn6VBbcQm2ACZcUMIyb/sVYeUYlLQKNAe0vVPjwR1vDaQPUOJU9A0oBgakGZ+guKLQZ/rjWdeWuvG0ouTppOpI0EXsEtpAfbBHjWTO39aXxDG39IuzRYhz2nFJtMMTqyTncbsmyNcNgJD4SdIKTb5aMy+e7eLmxBN2yPPLzXmlJxc886AhVZebU3vqTIe5I2I5LOAoVZ448XlrbgpaY8jdeKFfiHyHv7MbZjikppZJKjM4SA9fn4F6pN5FVrGvKD9Vt4ITg6IfhfRBcwY7aHArn1ytj0RlJKTR9Urrqea7VXx7kcOguyPWL4q6ADn8hPfqociJ9vdcqM5lQMl4UnBOG10rRoGgTyrdnQs+YfoFjx4A1h7ZKfYaCuL0Co4TpzC6SeDox8capXFzJ5/4ZAoTCzgZEf5tHMHCVAtpVmoSOlZzGcrfKmsVleP9thu14FfXKQzw/77MjZAxpO5kZNdO693YBLFFgNZaczk3MrdZBehM7hQvRr56h5j0LtpXmWTFQ7mw8Qf1drgV7kkWSp1+W2LjTQjDoAYN6iqmEKlIRZAy34Mi6XUJTS08IbXnN4nRLZMzS3X1RsySsExZp6SA7Iqj5FpAkH57PVOL9tD1m6xPsMNEzrsdJnA=
  file_glob: true
  file: "${DEPLOY_FILES}"
  skip_cleanup: true
  on:
    tags: true
    condition: "$DEPLOY == yes"
