[Desktop Entry]
Name=OpenBoardView
Comment=Viewer for PCB layouts
Exec=openboardview %f
Icon=io.github.openboardview.openboardview
MimeType=application/x-openboardview-asc;application/x-openboardview-board;application/x-openboardview-brd-landrex;application/x-openboardview-brd-r4;application/x-openboardview-lst
Terminal=false
Type=Application
Categories=Utility;Viewer;Electronics;GTK;
